// ~/_Projects\ Assets/hugo-template/docs/Sass\ Mixins/10\ Useful\ Sass\ Mixins\ for\ Automation// Define vertical, horizontal, or both position//Animation mixin setup

/**

    Animations
    
    // Define animation name, and properties
    @include keyframes(fade-out) {
        0% {
            opacity: 1;
        }

        90% {
            opacity: 0;
        }
    }


    // Add animation to element
    .element {
        width: 100px;
        height: 100px;
        background: black;

        @include animation("fade-out 5s 3");
    }

*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}
