// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins/Helpful\ SASS\ Mixins

/**

    Clearfixin
    https://responsivedesign.is/articles/helpful-sass-mixins/

*/

@mixin clearit {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    zoom: 1;
}
