// ~/_Projects\ Assets/hugo-template/docs/Sass\ Mixins/10\ Useful\ Sass\ Mixins\ for\ Automation// Define vertical, horizontal, or both position

/**

    Clearifx
    
    .container-with-floated-children {
        @extend %clearfix;
    }

*/

%clearfix {
    *zoom: 1;

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
