// ~/_Projects\ Assets/hugo-template/docs/Sass\ Mixins/10\ Useful\ Sass\ Mixins\ for\ Automation// Define vertical, horizontal, or both position

/**

    Font face

    @include font-face("gotham", "/fonts/gotham");

*/

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + ".eot");
        src: url($file-name + ".eot?#iefix") format("embedded-opentype"), url($file-name + ".woff") format("woff"), url($file-name + ".ttf") format("truetype"), url($file-name + ".svg##{$font-name}") format("svg");
        font-weight: $weight;
        font-style: $style;
    }
}
