// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins/Helpful\ SASS\ Mixins


/**

    Headings
    https://responsivedesign.is/articles/helpful-sass-mixins/
    
    Applying Mixin in Sass
    Now that we’ve got our heading mixing this is how we then apply them in the Sass.


    h1 { @include heading-1; }
    h2 { @include heading-2; }
    h3 { @include heading-3; }
    h4 { @include heading-4; }

    The great thing about this approach is when it comes to having the need to put a h2 in a sidebar but you need it to be in the
    style of a heading 4 then you just use the following code.

    .sidebar h2 { @include heading-4; }

*/

@mixin heading {
    @include title-face;

    margin-bottom: 0.35em;
    line-height: 1.2;
    color: inherit;

    a {
        @include heading-link;
    }
}

@mixin heading-1 {
    @include heading;

    font-size: 3.375em;
}

@mixin heading-2 {
    @include heading;

    font-size: 2.966em;
}

@mixin heading-3 {
    @include heading;

    font-size: 1.5em;
}

@mixin heading-4 {
    @include heading;

    font-size: 1.318em;
}

@mixin heading-5 {
    @include heading;

    font-size: 1em;
}

@mixin heading-6 {
    @include heading;

    font-size: 0.875em;
}
