// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins

/**

	Retina Image

	Example:

	.element {
		@include retina {
			background-image: url(../elements/background@2x.png);
		}
	}

*/

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
        @content;
    }
}
