// ~/Sites/_Projects\ Assets/hugo-template/docs/Sass\ Mixins

/**

    Typography

	Text image replacement, with responsive ratio

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	.element {
		@include typography(200, 50, 'hello-world');
	}


*/

@mixin typography($w, $h, $file, $type: png, $overflow: hidden) {
    @include responsive-ratio($w, $h, true);

    position: relative;
    max-width: $w * 1px;
    background: url("/assets/elements/typography/#{$file}.#{$type}") 50% 50% no-repeat;
    background-size: contain;

    span {
        @include hide-text(true, $overflow: $overflow);
    }
}

// Font-Size
@mixin font-size($sizes) {
    @each $breakpoint, $size in $sizes {
        @if $breakpoint == base {
            font-size: $size;
        }
        @else {
            @include mq($breakpoint) {
                font-size: $size;
            }
        }
    }
}

// Font Smoothing
@mixin antialias {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
