<footer class="footer">
    <div class="columns">

        {{/*  Column 1  */}}
        <div class="column">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, delectus?</p>
        </div>
        {{/*  End: Column 1  */}}

        {{/*  Column 2  */}}
        <div class="column">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, delectus?</p>
        </div>
        {{/*  End: Column 2  */}}

        {{/*  Column 3  */}}
        <div class="column">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, delectus?</p>
        </div>
        {{/*  End: Column 3  */}}

        {{/*  Column 4  */}}
        <div class="column">
            <nav id="footer">
                {{ $currentPage := . }}
                {{ $page := .Page }}
                {{ $site := .Site }}

                {{/*  https://discourse.gohugo.io/t/range-length-or-last-element/3803/3  */}}
                {{ $list := .Site.Menus.footer }}
                {{/*  Counting the menu entries  */}}
                {{ $len := (len $list) }}

                <h3>Column 4</h3>
                <ul>
                    {{ range $index, $element := $list }}
                    {{ $is := $page.IsMenuCurrent "footer" . }}
                    {{ $has := $page.HasMenuCurrent "footer" . }}
                    {{/*  Add class 'active' if page is active  */}}
                    <li {{ if or $is $has }} class="nav-item active" {{ else }} class="nav-item" {{ end }}>
                        {{/*  All links except the last one shall receive the class 'border-right' for styling with CSS  */}}
                        <a {{ if eq (add $index 1) $len }}class="nav-link"{{ else }}class="nav-link border-right"{{ end }} href="{{ .URL | absURL }}">
                            {{ .Pre }} {{ .Name }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
                {{/*  Here the variable '$len' is called  */}}
                <p>Number menu entries: {{ $len }}</p>
            </nav>
        </div>
        {{/*  End: Column 4  */}}

    </div>
</footer>
