{{/*  SECTION: Header
=======================================================================  */}}

<header>
    <p>
        {{/*  There should be no Link to the Homepage on the homepage. On all other sides there should be one  */}}
        {{ if not .IsHome  }}
            <a class="link" href={{if eq .Site.Params.env "LOCAL"}}"./index.html"{{else}}"/"{{end}}>
                Logo with Link to homepage
            </a>
        {{ else }}
            <span>Logo without Link to homepage</span>
        {{ end }}
    </p>
</header>

{{/*  End: Header  */}}


{{/*  SECTION: Main Menu
=======================================================================  */}}

{{/*  The vertical Lines are created by 'nav ul li:not(:last-child)' in 'styles.css'  */}}
<nav id="hauptmenue">
    {{ $currentPage := . }}
    {{ $page := .Page }}
    {{ $site := .Site }}

    {{/*  https://discourse.gohugo.io/t/range-length-or-last-element/3803/3  */}}
    {{ $list := (.Site.Menus.main) }}
    {{/*  Counting the menu entries  */}}
    {{ $len := (len $list) }}

    <ul class="nav">
        {{ range $index, $element := $list }}
            {{ $is := $page.IsMenuCurrent "main" . }}
            {{ $has := $page.HasMenuCurrent "main" . }}
            {{/*  Add class 'active' if page is active  */}}
            <li{{ if or $is $has }} class="nav-item active" {{ else }} class="nav-item"{{ end }}>
                {{/*  All links except the last one shall receive the class 'border-right' for styling with CSS  */}}
                <a {{ if eq (add $index 1) $len }}class="nav-link"{{ else }}class="nav-link border-right"{{ end }} href="{{ .URL | absURL }}">
                    {{ .Pre }} {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
    {{/*  Here the variable '$len' is called  */}}
    <p>Number menu entries: {{ $len }}</p>
</nav>

{{/*  End: Main Menu  */}}
