{{ $hometext := .Site.Data.homeText }}

<h2>Text for the homepage:</h2>

{{ range $hometext.textblock1 }}
    <p>{{ . | safeHTML }}</p>
{{ end }}

{{ range $hometext.textblock2 }}
    <ul>
        <li>{{ . | safeHTML }}</li>
    </ul>
{{ end }}
