{{/*
    https://www.openstreetmap.org/#map=9/51.6223/7.9637

    Copy coordinates from HTML code OpenStreetMap and put in 'config.toml'
*/}}

{{ if eq .Page.Params.showMap "yes" }}
    <h2>{{ .Site.Params.geo.title }}</h2>

    <div>
        <iframe width="{{ .Site.Params.geo.width }}" height="{{ .Site.Params.geo.height }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ .Site.Params.geo.pre_embed }}{{ .Site.Params.geo.embed }}"></iframe>
        <small><a href="{{ .Site.Params.geo.pre_embed }}{{ .Site.Params.geo.embed }}{{ .Site.Params.geo.map_big }}">{{ .Site.Params.geo.map_big_text }}</a></small>
    </div>
{{ end }}
