{{ if and (eq .Site.Params.env "PUBLIC") (not .Params.robotsdisallow) }}
    {{/*  For all Search Engines  */}}
    <meta name="robots" content="index, follow"/>
    {{/*  Google Specific  */}}
    <meta name="googlebot" content="index,follow">
{{ else }}
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="googlebot" content="noindex,nofollow">
{{ end }}
