<div datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
    <h1 class="post-summary-head">
        <a href="{{ .RelPermalink }}" class="">
            {{ .Title }}
            <small>
                vom {{ .Date.Day }}. {{ index $.Site.Data.monthsGerman (printf "%d" .Date.Month) }} {{ .Date.Year }}
                {{ if .Params.draft }}
                    <span style="color: red; font-weight: bold;">
                        ENTWURF!
                    </span>
                {{ end }}
                <small>
                    {{ partial "post/readingTime.html" . }}
                </small>
            </small>
        </a>
    </h1>

    <div>
        {{ .Summary }}
    </div>
</div>
