{{ define "main" }}

    <div class="taxonomies">

        <h2>These are our taxonomies</h2>

        {{/*  SECTION: Tags
        =======================================================================  */}}

        {{ if .Params.tags }}
            <h3>The tags:</h3>
            <section id="menu">
                <ul>
                    {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
                        <li> {{ $key }} </li>
                        <ul>
                            {{ range $taxonomy.Pages }}
                                <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </ul>
            </section>
        {{ end }}

        {{/*  End: Tags  */}}

        {{/*  SECTION: Categorys
        =======================================================================  */}}

        {{ if .Params.categories }}
            <h3>The categories:</h3>
            <section id="menu">
                <ul>
                    {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
                        <li> {{ $key }} </li>
                        <ul>
                            {{ range $taxonomy.Pages }}
                                <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </ul>
            </section>
        {{ end }}

        {{/*  End: Categorys  */}}

        {{/*  SECTION: Series
        =======================================================================  */}}

        {{ if .Params.series }}
            <h3>The series:</h3>
            <section id="menu">
                <ul>
                    {{ range $key, $taxonomy := .Site.Taxonomies.series }}
                        <li> {{ $key }} </li>
                        <ul>
                            {{ range $taxonomy.Pages }}
                                <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </ul>
            </section>
        {{ end }}

        {{/*  End: Series  */}}

    </div>

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
