{{/*  Empty conditional comment hack to basically increase performance of your site  */}}

{{ `<!--[if IE]><![endif]-->` | safeHTML }}

{{/*
    NOTE: If older than IE9
    HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    WARNING: Respond.js doesn't work if you view the page via file://
*/}}

{{ `<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->` | safeHTML }}
