<div id="tags">

    {{ if .Params.tags }}

        <p>These tags are applied:</p>

        {{ range .Params.tags }}
            <ul>
                <li>
                    <a href="/tags/{{ . | urlize }}">{{ . }}&nbsp;</a>
                </li>
            </ul>
        {{ end }}

    {{ else }}

        <p>No tags applied.</p>

    {{ end }}
    
</div>
