{{/*
    NOTE: https://npf.io/2014/08/making-it-a-series/
    https://github.com/natefinch/npf
*/}}

<div class="col-4 card" id="series">

    {{ if .Params.series }}
        {{ $link := .Permalink }}
        {{ $name := index .Params.series 0 }}
        {{ $serie := $name }}
        {{ $name := $name | urlize }}
        {{ $series := index .Site.Taxonomies.series $name }}
            <p class="card-title">Serie {{ $serie }}:</p>

            {{ range $series.Pages }}
                <ul class="no-bullet card-body">
                    <li>{{ .Date.Format "2. Januar 2006" }} -
                    {{ if eq .Permalink $link }}
                        {{ .LinkTitle }}
                    {{ else }}
                        <a href="/series/{{ . | urlize }}">{{ .LinkTitle }} </a>
                    {{end}}
                    </li>
                </ul>
            {{end}}

    {{ else }}

        <p class="card-title">
            Keine Serien zugeordnet.
        </p>

    {{ end }}

</div>
